body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: hsl(0, 0%, 90%);
    padding: 20px;
}

h1 {
    margin: auto;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    height: 100vh;
}


form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.entrada{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 32px;
    background-color: rgb(253, 36, 3);
    border-color: blue;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    color: #fff;
}


button:hover{
    cursor: pointer;
    transform: scale(1.1);
}



footer {
	background-color: hsl(0, 0%, 40%);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
    
}